* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
}
header {
    background-color: #007bff;
    color: #fff;
    padding: 20px;
    text-align: center;
}

.title {
    margin-bottom: 10px;
}

.input-container {
    margin-bottom: 20px;
}

.input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
}

.create-button {
    padding: 10px 20px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.create-button:hover {
    background-color: #45a049;
}


main {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.columns-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.column {
    flex: 1;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    margin-right: 20px;
}

.column-title {
    margin-bottom: 20px;
    font-size: 1.2rem;
    font-weight: bold;
}

.list {
    list-style: none;
}

.list-item {
    margin-bottom: 20px;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.list-item p {
    margin-bottom: 5px;
}

.arrow-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.delete-button {
    background-color: #dc3545;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
}

.delete-button:hover {
    background-color: #c82333;
}

.deadline {
    color: #dc3545;
    font-weight: bold;
}
